/* VARIABLES
   ============================================ */

/* colour palette */
:root {
  --color-orange: #e75a2d;
  --color-navy: #204056;
  --color-cream: #ffe7ae;
  --color-bg: #000000;
  --color-off-white: #f6f0e2;
}

/* RESET
     ============================================ */

/* TYPOGRAPHY
     ============================================ */

/*LAYOUT
     ============================================ */

/* COMPONENTS
     ============================================ */
